// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Typography
// * @font-face
//   - Prompt
//   - Noto
// * Calibration
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// @font-face
// ==================================================================================================

// Prompt
// - Regular
// - Regular italic
// - Bold
// - Bold italic
// - Extra-Light
// - Extra-Light italic
// ------------------------------------------------
@font-face {
  font-family: 'Prompt-Regular';
  src: url('#{path-file(fonts)}/prompt/Prompt-Regular.eot');
  src: url('#{path-file(fonts)}/prompt/Prompt-Regular.eot') format('embedded-opentype'),
       url('#{path-file(fonts)}/prompt/Prompt-Regular.woff2') format('woff2'),
       url('#{path-file(fonts)}/prompt/Prompt-Regular.woff') format('woff'),
       url('#{path-file(fonts)}/prompt/Prompt-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt-Italic';
  src: url('#{path-file(fonts)}/prompt/Prompt-Italic.eot');
  src: url('#{path-file(fonts)}/prompt/Prompt-Italic.eot') format('embedded-opentype'),
       url('#{path-file(fonts)}/prompt/Prompt-Italic.woff2') format('woff2'),
       url('#{path-file(fonts)}/prompt/Prompt-Italic.woff') format('woff'),
       url('#{path-file(fonts)}/prompt/Prompt-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt-Bold';
  src: url('#{path-file(fonts)}/prompt/Prompt-Bold.eot');
  src: url('#{path-file(fonts)}/prompt/Prompt-Bold.eot') format('embedded-opentype'),
       url('#{path-file(fonts)}/prompt/Prompt-Bold.woff2') format('woff2'),
       url('#{path-file(fonts)}/prompt/Prompt-Bold.woff') format('woff'),
       url('#{path-file(fonts)}/prompt/Prompt-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt-BoldItalic';
  src: url('#{path-file(fonts)}/prompt/Prompt-BoldItalic.eot');
  src: url('#{path-file(fonts)}/prompt/Prompt-BoldItalic.eot') format('embedded-opentype'),
       url('#{path-file(fonts)}/prompt/Prompt-BoldItalic.woff2') format('woff2'),
       url('#{path-file(fonts)}/prompt/Prompt-BoldItalic.woff') format('woff'),
       url('#{path-file(fonts)}/prompt/Prompt-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt-ExtraLight';
  src: url('#{path-file(fonts)}/prompt/Prompt-ExtraLight.eot');
  src: url('#{path-file(fonts)}/prompt/Prompt-ExtraLight.eot') format('embedded-opentype'),
       url('#{path-file(fonts)}/prompt/Prompt-ExtraLight.woff2') format('woff2'),
       url('#{path-file(fonts)}/prompt/Prompt-ExtraLight.woff') format('woff'),
       url('#{path-file(fonts)}/prompt/Prompt-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt-ExtraLightItalic';
  src: url('#{path-file(fonts)}/prompt/Prompt-ExtraLightItalic.eot');
  src: url('#{path-file(fonts)}/prompt/Prompt-ExtraLightItalic.eot') format('embedded-opentype'),
       url('#{path-file(fonts)}/prompt/Prompt-ExtraLightItalic.woff2') format('woff2'),
       url('#{path-file(fonts)}/prompt/Prompt-ExtraLightItalic.woff') format('woff'),
       url('#{path-file(fonts)}/prompt/Prompt-ExtraLightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Noto
// - Regular
// - Bold
// ------------------------------------------------
@font-face {
  font-family: 'NotoSansThai-Regular';
  src: url('#{path-file(fonts)}/notosansthai/NotoSansThai-Regular.eot');
  src: url('#{path-file(fonts)}/notosansthai/NotoSansThai-Regular.eot') format('embedded-opentype'),
       url('#{path-file(fonts)}/notosansthai/NotoSansThai-Regular.woff2') format('woff2'),
       url('#{path-file(fonts)}/notosansthai/NotoSansThai-Regular.woff') format('woff'),
       url('#{path-file(fonts)}/notosansthai/NotoSansThai-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansThai-Bold';
  src: url('#{path-file(fonts)}/notosansthai/NotoSansThai-Bold.eot');
  src: url('#{path-file(fonts)}/notosansthai/NotoSansThai-Bold.eot') format('embedded-opentype'),
       url('#{path-file(fonts)}/notosansthai/NotoSansThai-Bold.woff2') format('woff2'),
       url('#{path-file(fonts)}/notosansthai/NotoSansThai-Bold.woff') format('woff'),
       url('#{path-file(fonts)}/notosansthai/NotoSansThai-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Calibration
// - Base
// - Window
// - Mac
// - iPhone/iPad
// - Android
// - 2 font in 2 language
// ==================================================================================================

// Base
// ------------------------------------------------

// Window
// ------------------------------------------------

// Mac
// ------------------------------------------------

// iPhone/iPad
// ------------------------------------------------

// Android
// ------------------------------------------------

// 2 font in 2 language
// ------------------------------------------------
