// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Helpers
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Typography
// ==================================================================================================

// Alignment
// ------------------------------------------------
.is-align-left {
    text-align: left;
}

.is-align-right {
    text-align: right;
}

.is-align-center {
    text-align: center;
}
