// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Main style
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Utilities
// ==================================================================================================
@import 'utilities/variables';
@import 'utilities/functions';
@import 'utilities/mixins';

// Themes
// ==================================================================================================
@import 'themes/variables.theme';

// Bases
// ==================================================================================================
@import 'bases/typography';
@import 'bases/scaffolding';
@import 'bases/print';

// Utillities > helpers
// ==================================================================================================
@import 'utilities/helpers';

// Layouts
// ==================================================================================================
@import 'layouts/footer';
@import 'layouts/sidebar';
@import 'layouts/topbar';

// Components
// ==================================================================================================
@import 'components/buttons';

// Pages
// ==================================================================================================
@import 'pages/home';

// Quick fix
// ==================================================================================================
@import 'quick-fix/quick-fix';
