@mixin card(
    //body
    $width-card: 320px,
    $boder-radius-card: 10px,
    $body-color:#FFFFFF,
    $body-color-hover:#EEEEEE,

    //cardimg
    $card-img-color:#FF0000,
    $card-img-padding: 10px,
    
    //img
    $img-height: 450px,
  
    //content-head
    $font-size-content: 20px,
    $font-color-content:#666161,

    //content-detail
    $font-color-detail:#A8A1A1

  ) {
    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
  
    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
    width: $width-card;
    border-radius: $boder-radius-card;
    margin: auto;
    padding: $card-img-padding;
    border-radius: $boder-radius-card;

    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .card-image{
        width: 100%;
        height: $img-height;
        background:#008000;
        border-radius: $boder-radius-card;
        color:#FFFFFF;
    }
    .card-image-active{
        width: 100%;
        height: $img-height;
        display: none;
    }
    .content{
        font-size: $font-size-content;
        color: $font-color-content;
        padding-bottom: 0px;
        margin-bottom: 0px;
        line-height: 1.2;
    }
    .content-position{
        padding-left: 0.7rem;
        padding-top: 2px;
        font-size: $font-size-content;
        color: $font-color-detail;
        font-weight: bold;
    }
    .icon-upload{
        position: absolute;
        left: 10px;
        top: 10px;
        background:#FFFFFF;
        color:#808080;
        padding: 8px 13px 8px 13px;
        border-radius: 5px;
    }
    .icon-save{
        position: absolute;
        top: 10px;
        right: 10px;
        background:#FF0000;
        border-radius: 5px;
        padding: 8px 15px 8px 15px;
        .position{
            padding-right: 10px;
        }
    }
    .text-ref{
        position: absolute;
        bottom: 20px;
        left: 15px;
        font-weight: bold;
        color: #DAD6D6;
    }
    .icon-etc{
        position: absolute;
        bottom: 8px;
        right: 8px;
        background: rgba(0, 0, 0, 0.7);
        padding: 10px 20px 10px 20px;
        border-radius: 30px;
        font-weight: bold;
        .position{
           margin-right: 5px;
           font-weight: bolder;
        }
    }
    .button-icon{
        position: absolute;
        color: #B1ABAB;
        display: none;
    }

    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>
    &:hover{
        background:$body-color-hover;
        .card-image-active,.button-icon{
            display: block;
        }     
    }
  
    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
    .icon-upload{
        left: 10px;
        top:10px;
    }
    .icon-save{
        top: 10px;
        right: 10px;
    }
    .text-ref{
        bottom: 20px;
    }
    .icon-etc{
        bottom: 8px;
        right:8px;
    }
    .button-icon{
        bottom:84px;
        right: 30px;
    }
    
    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
  
    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
  }

  // Primary
// ------------------------------------------------
    // >>>>>>>>>>>>>>>>>>>>>>>
.card-custom{
    // SPECIFIC VARIABLES(USE ONLY IN COMPONENT)
    // >>>>>>>>>>>>>>>>>>>>>>>
  
    // MIXINS
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include card;
    // STYLES OF COMPONENT ITSELF
    // >>>>>>>>>>>>>>>>>>>>>>>
  
    // STYLES OF CHILD CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
  
    // STYLES OF STATE
    // >>>>>>>>>>>>>>>>>>>>>>>
  
    // STYLES OF MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
  
    // STYLES OF STATE WITH MODIFIER CLASS
    // >>>>>>>>>>>>>>>>>>>>>>>
  
    // MEDIA QUERY
    // >>>>>>>>>>>>>>>>>>>>>>>
  }
  