@mixin container-flex(){
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin col-button($padding:5px){
    flex-basis: 40%;
    padding: $padding;
}

@mixin button-primary(){
    width:210px;
    height: 40px;
    border-color: transparent;
    border-radius: 5px;
    color:$white-color;
    font-size: 18px;
    &.is-success{
        background: $green-color;
        &:hover{
            opacity: 0.8;
        }
        &:focus{
            background:$greendark-color;
        }
    }
    &.is-fail{
        background: $blue-color;
        &:hover{
            opacity: 0.8;
        }
        &:focus{
            background:$bluedark-color;
        }
    }
}