.container-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }
  .container-flex .col1, .container-flex .col3, .container-flex .col5 {
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    padding: 5px;
    text-align: right; }
  .container-flex .col2, .container-flex .col4, .container-flex .col6 {
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    padding: 5px; }

.button-primary {
  width: 210px;
  height: 40px;
  border-color: transparent;
  border-radius: 5px;
  color: white;
  font-size: 18px; }
  .button-primary.is-success {
    background: #43C443; }
    .button-primary.is-success:hover {
      opacity: 0.8; }
    .button-primary.is-success:focus {
      background: #2D992D; }
  .button-primary.is-fail {
    background: #5152A5; }
    .button-primary.is-fail:hover {
      opacity: 0.8; }
    .button-primary.is-fail:focus {
      background: #35367A; }
